

	<div class="row">
		<div class="col-sm-2 task-list">

			<h4 class="page-header">One-Time Tasks</h4>
			<div class="one-tasks">
				{{#each task in oneTasks}}
					{{#draggable-item content=task.id}}
						<div class="panel panel-default">
						  <div class="panel-body">
								<p>title: {{task.title}}</p>   
								<p>body: {{task.body}}</p>   
							</div>
						</div> 
					{{/draggable-item}}
				{{/each}}
			</div>
			<h4 class="page-header">Weekly Tasks</h4>
			<div class="recurring-tasks">
				{{#each task in recurringTasks}}
					{{#draggable-item content=task.id}}
						<div class="panel panel-default">
						  <div class="panel-body">
								<p>title: {{task.title}}</p>   
								<p>body: {{task.body}}</p>   
							</div>
						</div>
					{{/draggable-item}}
				{{/each}}
			</div>
			<h2>New Task</h2>
			<ul class="post-publish">
			  <li>
			    {{input value=newTask.title placeholder="Title"}}
			  </li>
			  <li>
			    {{textarea value=newTask.body placeholder="Body"}}
			  </li>			  
			  <li>
			    {{input value=newTask.day placeholder="Day"}}
			  </li>
			  <li>
			  	{{input type="checkbox" name="isRecurring" checked=newTask.isRecurring}}
			  </li>
			  <li>
			    <button {{action "addTask"}}>Add Task</button>
			  </li>
			</ul>
		</div>

		<div class="col-sm-12 schedule">
			{{outlet}}
		</div>
	</div>

