<div class="container">
	<div class="row">
		<div class="col-sm-2">
			<h2>Tasks</h2>
			{{#each task in oneTasks}}
				{{#draggable-item content=task.id}}
						<p>title: {{task.title}}</p>   
						<p>body: {{task.body}}</p>   
						<p>day: {{task.day}}</p>   
				{{/draggable-item}}
			{{/each}}

{{!-- 			<h2>Recurring Tasks</h2>
			{{#each task in recurringTasks}}
				{{#draggable-item content=task.id}}
					<p>title: {{task.title}}</p>   
					<p>body: {{task.body}}</p>   
					<p>day: {{task.day}}</p>
				{{/draggable-item}}
			{{/each}} --}}

			<h2>New Task</h2>
			<ul class="post-publish">
			  <li>
			    {{input value=newTask.title placeholder="Title"}}
			  </li>
			  <li>
			    {{textarea value=newTask.body placeholder="Body"}}
			  </li>			  
			  <li>
			    {{input value=newTask.day placeholder="Day"}}
			  </li>
			  <li>
			  	{{input type="checkbox" name="isRecurring" checked=newTask.isRecurring}}
			  </li>
			  <li>
			    <button {{action "addTask"}}>Add Task</button>
			  </li>
			</ul>
		</div>

		<div class="col-sm-12">
			{{outlet}}
		</div>
	</div>
</div>

